:root[uidensity="compact"] {
  --tab-block-margin: 2px !important;
}

/* Modify these to change relative widths or default height */
#navigator-toolbox {
  --uc-navigationbar-width: 40vw;
  --uc-toolbar-height: 40px;
  --uc-urlbar-min-width: 50vw; /* minimum width for opened urlbar */
}

#scrollbutton-up,
#scrollbutton-down {
  border-block-width: 2px !important;
}

/* Override for other densities */
:root[uidensity="compact"] #navigator-toolbox {
  --uc-toolbar-height: 34px;
}
:root[uidensity="touch"] #navigator-toolbox {
  --uc-toolbar-height: 44px;
}

/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
@media screen and (max-width: 1500px) {
  #urlbar-container {
    min-width: unset !important;
  }
}

#TabsToolbar {
  margin-left: var(--uc-navigationbar-width);
  --tabs-navbar-shadow-size: 0px;
}
#tabbrowser-tabs {
  --tab-min-height: calc(
    var(--uc-toolbar-height) - 2 * var(--tab-block-margin, 0px)
  ) !important;
}

/* This isn't useful when tabs start in the middle of the window */

.titlebar-spacer[type="pre-tabs"] {
  display: none;
}

#navigator-toolbox > #nav-bar {
  margin-right: calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));
}

/* Window drag space  */
:root[tabsintitlebar="true"] #nav-bar {
  padding-left: 24px !important;
}

/* Rules specific to window controls on right layout */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  .titlebar-buttonbox-container {
    position: fixed;
    display: block;
    left: 0px;
    z-index: 3;
  }
  :root[tabsintitlebar="true"] #nav-bar {
    padding-left: 96px !important;
    padding-right: 0px !important;
  }
}

/* 1px margin on touch density causes tabs to be too high */
.tab-close-button {
  margin-top: 0 !important;
}

/* Make opened urlbar overlay the toolbar */
#urlbar[open]:focus-within {
  min-width: var(--uc-urlbar-min-width, none) !important;
}

/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker {
  margin-inline-start: -28px;
}

/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow {
  margin-inline-end: initial !important;
}

/* ###################################################### */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* TABS: height */
:root {
 --tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
 --tab-min-height: 34px !important;
}
:root #tabbrowser-tabs {
 --tab-min-height: 30px !important;
}
#TabsToolbar {height: var(--tab-min-height) !important;}
